<!---
<app-element [element] = 'module.structure.element[0]'></app-element>
<app-element [element] = 'module.structure.element[1]'></app-element>
 --->
<div class = 'container'>
  <div class = 'flexbox-container'>
      <label class = "element-mar">Select a car model
          <select (change) = 'populateViewBox($event.target.value)'>
            <option *ngFor="let option of carOptions" value= '{{option.name._text}}'>{{option.name._text}}</option>
          </select>
      </label>
      <button class = 'back-button' (click) = 'backToDamageView()'>
        Go Back
      </button>
  </div>

    <label style = 'display: block' class = "element-mar">Select a car view
      <select [value] = 'view' (change) = 'getSVG($event.target.value)'>
        <option *ngFor="let option of viewOptions" value= '{{option}}'>{{option}}</option>
      </select>
    </label>


    <div id = 'svg-wrapper'>
    </div>

    <div id = 'controls'>
      <div>
        <button (click) = 'defaultControl(control)' *ngFor = 'let control of defaultControls'>
          {{control.label | Translate}}
        </button>
      </div>

      <button (click) = 'arrowClick("down")' class ='control-icon' [disabled] = '!downArrow'>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <button (click) = 'arrowClick("left")' class ='control-icon' [disabled] = '!leftArrow'>
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button (click) = 'arrowClick("up")' class ='control-icon' [disabled] = '!upArrow'>
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>
      <button (click) = 'arrowClick("right")' class ='control-icon' [disabled] = '!rightArrow'>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
      <button (click) = 'zoomIn()' class = 'control-icon'>
        <mat-icon>add</mat-icon>
      </button>
      <button (click) = 'zoomOut()' class = 'control-icon'>
        <mat-icon>remove</mat-icon>
      </button>
    </div>
</div>