.wrapper {
    text-align: center;
}

.element {
    margin: 10px;
    background-color: whitesmoke;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}

.inner-element {
    margin: 5px;
}