.titlebar {
    display: flex;
    align-items: center;
}
.title {
    flex: 7;
}

.close-button {
    flex: 1;
}

.accept-button-wrapper {
    display: flex;
    justify-content: center;
}

.accept-button {
    background-color: orange;
    flex: 1;
}

.accept-button:hover {
    background-color: green;
}

.grid-tile {
    background: red;
    border-style: solid;
    border-width: 1px;
}

#width-title, #diameter-title, #ratio-title {
    text-align: center;
    background-color: gray;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.grid-list {
    margin-top: 2px;
    margin-bottom: 4px;
}