


.mat-dialog-container {

    padding: 0 !important;
}

.contain {
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .slider {
        width: 400px;
    }

    .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 36px;  /* Preferred icon size */
    }

    .button-wraper {
        padding: 5px;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center
    }

    .save_button {
        padding: 10px 120px;
        color: #FFFFFF;
        background-color: #428bca;
        cursor: pointer;
        margin-top: 10px;
        border: none;
        border-radius: 2px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);


    }
}

.contain_landscape {

    overflow: hidden;
    display: grid;
    min-width: 100%;
    min-height: 100%;
    grid-template-columns: 340px auto auto 10%;
    grid-template-rows: 30px 240px 100%;
    h4 {
        display: none;
    }
    #item1 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;

    }

    #item2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    #item3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: center;
        align-self: center;
    }

    #item4 {

        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #item5 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 4;

    }

    .svg_img {

        display: flex;
        align-content: center;
    }

    .slider {
        width: 20x;
    }

    .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 36px;  /* Preferred icon size */
    }

    .button-wraper {
        padding: 5px;
        display: flex;
        flex-direction: column;

    }

    .brightness_control {

        display: flex;
        flex-direction:  column;
        align-content: flex-start;
        align-items: flex-start;

    }

    .save_button {
        padding: 10px 20px;
        color: #FFFFFF;
        background-color: #428bca;
        cursor: pointer;
        border: none;
        border-radius: 2px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        align-items: stretch;
        text-align: center;

        span{

            transform:rotate(-90deg);
            -webkit-transform:rotate(-90deg);
            cursor: pointer;
            display: block;
            transition: 0.5s;
        }

    }



}




@media(max-width: 813px) {

    .contain {

        .slider {
            width: 160px;
        }
        .save_button {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            white-space: nowrap;
            word-wrap: break-word;;
            margin: 10px 0;
            align-self: center;
            width: 100%;
            padding: 10px 0;
        }
        #textInput {
            width: 30px;
        }
        .form_input {
            max-width: 130px;
        }

        .form {
            width: 100%;
        }


        .mat-form-field.mat-form-field {
        width: auto;
    }

    }



}