body {
    height: 100%;
    margin:0;
    padding: 0;
}

header {

    text-align: center;
    background-color: #f3f3f3f3;
    height: 100px;
    h1 {
        display: inline-block;
        border: 1px solid;
        margin-top: 30px;
        padding: 0 10px;

    }
}

section {
    margin-top: 100px;
    text-align: center;
    border: 1px solid grey;
    background: #f3f3f3f3;
    height: 400px;
    .content {

        margin-top: 50px;
        box-shadow: gray;

    }

    button {
        background-color:#428bca;
        padding: 10px;
        width: 180px;
        margin-left: 20px;
        white-space: nowrap;
        cursor: pointer;
        border: none;
        box-shadow: 0px 5px 6px rgba(0,0,0, 0.2);
        color: white;
        border-radius: 2px;

    }

    button:hover {
        background-color: darken(#428bca, 10%);
    }
}

footer {

    position: absolute;
    right:0;
    left:0;
    bottom:0;
}


@media (max-width: 768px ) {

    body {
        overflow:hidden;
    }
    header {

        margin: auto;
    }

    section {

        margin-top: 50px;
        justify-content: center;
        input {
            width: 100%;
            margin: 20px auto;
        }
    }
}