#wrap {
    min-height: 100%;
}

#main {
    min-height: 100%;
    text-align: center;
}

.flex-wrapper {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#canvas {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.picture-container {
    overflow: hidden;
}

#imgElem {
    width: 100%;
    touch-action: auto !important;
    overflow: hidden;
}