<div id = 'wrap'>
  <div id = 'main' class = 'container'>
    <app-element *ngFor = 'let element of module.structure.element' [element] = 'element'></app-element>
    <div class = 'flex-wrapper btn-group-sm'>
          <button type = 'button' class= 'btn btn-sm btn-primary' (click) = getProtocol()>Get Protocol</button>
          <button class= 'btn btn-info btn-sm' (click) = saveProtocol()>Save</button>
          <button class= 'btn btn-success btn-sm' (click) = signProtocol()>Sign</button>
    </div>
    <div class= 'picture-container'>
      <img id = 'imgElem' src=''>
    </div>
  </div>
</div>
