<div *ngIf = 'damageViewState === damageViewStates.SELECT_IMAGE'>
        <body>
                <section id="carousels">
                    <div class="container-body">
                        <div *ngFor="let damage of damages">
                            <div *ngIf ="shouldDisplayDamage(damage)">

                                <div class="content">
                                    <button mat-icon-button id="item1" class="add_slide" (click)="addPicture(getDamageCarouselId(damage.damage))">
                                        <mat-icon>add_a_photo</mat-icon>
                                    </button>

                                    <!--First slide-->
                                    <app-carousel [ngClass]= "{'downloading_image': imageIsLoading(getDamageCarouselId(damage.damage))}"
                                        id="item2" class="carousel_container" [document]="{id: getDamageCarouselId(damage.damage)}"></app-carousel>
                                    <!--/First slide-->
                                    <!--/.Carousel Wrapper-->
                                    <div class='damage-info'>
                                        <div class = 'damage-component'>
                                            {{getDamageComponent(damage.damage)}}
                                        </div>
                                        <div class = 'damage-type'>
                                            {{getDamageType(damage.damage)}}
                                        </div>
                                        <div class = 'damage-degree'>
                                            {{getDamageDegree(damage.damage)}}
                                        </div>
                                    </div>
                                    <button id="item4" class="del_button" (click)="deleteDamageItem(damage)">
                                        Delete
                                    </button>
                                </div>

                            </div>
                        </div>
                        <button class="add_docu_button" (click)=addDamage()> + </button>
                    </div>
                </section>
            </body>
</div>

<div *ngIf = 'damageViewState === damageViewStates.CREATE_DAMAGE'>
    <app-damage-creator-svg (buttonEmitter) = 'changeStateToDamageView()'></app-damage-creator-svg>
</div>
