.data-table {
    margin: 20px auto;
}

.mat-cell {
    margin: auto;
    padding-right: 24px;
}

div button {
    margin: 10px;
}

div label {
    margin-left: 10px;
}

.highlight{
    background: #42A948; /* green */
}

.refresh-button{
    float: right;
}