<div #handle>
<mat-tab-group [(selectedIndex)] ="selected" (selectedTabChange)="tabChanged($event)" mat-stretch-tabs class="mat-tabs" >
  <div *ngFor = 'let module of modules'>
    <mat-tab *ngIf = 'module.structure' label = '{{prettifyName(module.name)}}'>
        <div id = 'wrap'>
          <div id = 'main' >
                <ng-template matTabContent class= 'contain'>
                    <div [ngSwitch] = "module.structure.moduleID">
                      <div *ngSwitchCase = "'inspectionInfo'">
                        <app-inspection-info></app-inspection-info>
                      </div>
                      <div *ngSwitchCase = "'ImageProtocol'">
                        <app-protocol [module] = 'module'></app-protocol>
                      </div>
                      <div *ngSwitchCase = "'DamageCreatorSVG'">
                        <app-damage-creator-svg></app-damage-creator-svg>
                      </div>
                      <div *ngSwitchCase = "'DataFields'">
                        <app-datafields [module] = 'module'></app-datafields>
                      </div>
                      <div *ngSwitchCase = "'TireTool'">
                        <app-tiretool></app-tiretool>
                      </div>
                      <div *ngSwitchCase = "'PhotoDocumentation'">
                        <app-picture-documentation-component></app-picture-documentation-component>
                      </div>
                      <div *ngSwitchCase = "'Equipment'">
                        <app-equipmentview></app-equipmentview>
                      </div>
                      <div *ngSwitchCase = "'DamageList'">
                        <app-damage-view [module] = 'module'></app-damage-view>
                      </div>
                      <!--
                      <div *ngSwitchCase = "'Comment'">

                      </div>

                      -->
                      <div *ngSwitchDefault class="app_element">
                        <app-element *ngFor='let element of module?.structure.element' [element]= "element"> </app-element>
                      </div>
                    </div>
                </ng-template>
          </div>
        </div>
    </mat-tab>
  </div>
</mat-tab-group>

</div>


<app-menu-bar></app-menu-bar>
<router-outlet></router-outlet>
