<div class="form-group container">
            <div [ngSwitch] = "element.type">
                <div *ngSwitchCase="'buttonWithInput'">
                    <div  id="visible" [ngStyle]="{'display': display(element.visible)}">
                        <div class="form-group">
                            <label>{{element.label?.text | Translate}}
                            <app-element style = 'display: inline-block' [element] = '{type: "text", id: element.id }' [disabled] = "disabled || !editable" #input ></app-element>
                            </label>
                            <app-element style = 'display: inline-block' [element] = '{type: "button", id: element.id , buttonLabel: element.buttonLabel }'
                                [disabled] = "disabled || !editable" (buttonEmitter)= 'buttonClick()'>
                            </app-element>
                        </div>
                    </div>
                </div>

                <div *ngSwitchCase="'comboBox'">
                    <!--
                    <div  id="visible" [ngStyle]="{'display': display(element.visible)}">
                        <div *ngIf="element.displayname === '' || element.displayname === undefined; else selectTemplateWithName">
                            <label class = "element-mar">{{element.label?.text | Translate}}
                            <select (change)= "saveValues($event)" id="{{element.id}}" [value]='getValue()'>
                                <option *ngFor="let option of element.defaultoptions" value= '{{option}}'>{{option}}</option>
                                <option *ngFor="let option of element.options" value= '{{option}}'>{{option}}</option>
                            </select>
                            </label>
                        </div>
                    </div>
                    -->
                    <div id='visible' [ngStyle]="{'display': display(element.visible)}">
                        <div *ngIf="element.displayname === '' || element.displayname === undefined; else selectTemplateWithName">
                            <mat-form-field>
                                <mat-select [required] = 'required' (selectionChange)= "saveValues($event)" id = "{{element.id}}" [value] = 'getValue()' placeholder='{{element.label?.text | Translate}}'>
                                    <mat-option (change)= "saveValues($event)" *ngFor="let option of element.defaultoptions" [value] = "option">{{option}}</mat-option>
                                    <mat-option (change)= "saveValues($event)" *ngFor="let option of element.options" [value] = "option">{{option}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div *ngSwitchCase="'button'" [ngStyle]="{'display': display(element.visible)}">
                    <div  *ngIf= 'element.icon; else noIcon'>
                        <button class = 'element-mar-icon' (click) = 'buttonClick()' [ngStyle] = "{'background': getImage(element.icon)}"></button>
                    </div>
                    <ng-template #noIcon>
                        <button class = 'btn btn-primary element-mar-button' (click) = 'buttonClick()'>{{getButtonLabel(element.buttonLabel)}}</button>
                    </ng-template>
                </div>

                <div *ngSwitchCase="'label'" [ngStyle]="{'display': display(element.visible)}" class = 'element-mar'>
                    <span>{{getValue() | Translate}}</span>
                </div>

                <div *ngSwitchCase ="'date'">
                    <div id = 'visible' [ngStyle]="{'display': display(element.visible)}">
                        <mat-form-field>
                            <input [required] = 'required' [disabled] = '!editable' [value] = "getValue()" (dateInput)="saveValues($event)" (dateChange)="saveValues($event)"matInput [matDatepicker]="picker" placeholder="{{element.label?.text | Translate}}">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>

                <div *ngSwitchCase = "'checkBox'">
                    <mat-checkbox [ngStyle]="{'display': display(element.visible)}" [disabled] = '!editable' [checked] = 'getValue()' (change) = 'saveValues($event)'>{{element.label?.text | Translate}}</mat-checkbox>
                </div>

                <div *ngSwitchCase = "'password'">
                        <mat-form-field [ngStyle]="{'display': display(element.visible)}">
                            <input [required] = 'required' type = 'password' id="{{element.id}}" (change) = 'saveValues($event)' matInput placeholder="{{element.label?.text | Translate}}" [disabled] = "disabled || !editable" [value] = 'getValue()'>
                        </mat-form-field>
                </div>

                <div *ngSwitchCase = "'number'">
                    <mat-form-field [ngStyle]="{'display': display(element.visible)}">
                        <input [required] = 'required' type = 'number' id="{{element.id}}" (change) = 'saveValues($event)' matInput placeholder="{{element.label?.text | Translate}}" [disabled] = "disabled || !editable" [value] = 'getValue()'>
                    </mat-form-field>
                </div>

                <div *ngSwitchDefault>
                    <mat-form-field [ngStyle]="{'display': display(element.visible)}">
                        <input [required] = 'required' id="{{element.id}}" (change) = 'saveValues($event)' matInput placeholder="{{element.label?.text | Translate}}" [disabled] = "disabled || !editable" [value] = 'getValue()'>
                    </mat-form-field>
                    <!--
                    <div id="visible" [ngStyle]="{'display': display(element.visible)}">
                        <div class="form-group" >
                            <label class = "element-mar">{{element.label?.text | Translate}}
                                <input class = "element-mar" [disabled] = "disabled" type="{{element.type}}" (change) = "saveValues($event)" [value]="getValue()" id="{{element.id}}">
                            </label>
                        </div>
                    </div>
                    -->
                </div>
            </div>

            <ng-template #selectTemplateWithName>
                <mat-form-field>
                    <mat-select [required] = 'required' [disabled]="isDropdownDisabled()" (selectionChange)= "saveValues($event)" id = "{{element.id}}" [value] = 'getValue()' placeholder='{{element.label?.text | Translate}}'>
                        <mat-option *ngIf = 'isDocumentation && valueForThisComboBox' [value] = "valueForThisComboBox">{{valueForThisComboBox}}</mat-option>
                        <mat-option (change)= "saveValues($event)" *ngFor="let option of element.defaultoptions" [value] = "option[element.displayname]">{{option[element.displayname]}}</mat-option>
                        <mat-option (change)= "saveValues($event)" *ngFor="let option of options" [value] = "option[element.displayname]">{{option[element.displayname]}}</mat-option>
                        <div *ngIf = 'isFilter'>
                            <mat-option (change)= "saveValues($event)" *ngFor="let option of element.options" [value] = "option[element.displayname]">{{option[element.displayname]}}</mat-option>
                        </div>
                    </mat-select>
                </mat-form-field>
                <mat-form-field style = 'margin-left: -180px; width: 160px; background-color: white' [ngStyle] = '{"visibility": hackBoxVisibility()}'>
                    <input (focus) = 'resetHackBox($event)' (change) = 'saveCustomName($event)' (focusout) = 'hackBox($event)' matInput placeholder="{{element.label?.text | Translate}}" [value] = 'getValue()'>
                </mat-form-field>
                    <!--
                    <label class = "element-mar">{{element.label?.text | Translate}}
                    <select (change)= "saveValues($event)" id="{{element.id}}" [value] = 'getValue(element.id)'>
                        <option selected>Select Option</option>
                        <option *ngFor="let option of element.defaultoptions" value= '{{option[element.displayname]}}'>{{option[element.displayname]}}</option>
                        <option *ngFor="let option of element.options" value= '{{option[element.displayname]}}'>{{option[element.displayname]}}</option>
                    </select>
                    </label>
                    -->
            </ng-template>
</div>
