<body>
  <main class="content">
  <h1> Equipment View</h1>
    <section>

      <div class="contain">
        <div *ngFor="let element of module.structure.element">
          <div [ngSwitch]="element.type">

            <div *ngSwitchCase="'checkbox'">
                <label class="form-check-input" >{{element.label.text}}
                <input id="element.id" type="checkbox" name="element.id" (change)="updateDataForSelectedCheckbox($event.target.checked, element)"
                  [checked]="isChecked(element.id)">
                  <span class="checkmark"></span>
                </label>

            </div>

            <div *ngSwitchCase="'number'">
              <label class="form-check-input">{{element.label.text}}
              <input type="checkbox" name="element.id" (change)="updateDataForSelectedCheckbox($event.target.checked, element)"
                [checked]="isChecked(element.id)">
                <span class="checkmark"></span>
              </label>
              <div id="visible" [ngStyle]="{'display': display(element.id)}">
                <input #inputField type="text" (input)="updateDataForSelectedInput($event, element)" [value]="getValue(element.id)">
              </div>
            </div>

            <div *ngSwitchCase="'comboBox'">
                <label class="form-check-input">{{element.label.text}}
              <input type="checkbox"  name="element.id" (change)="updateDataForSelectedCheckbox($event.target.checked, element)"
                [checked]="isChecked(element.id)">
                <span class="checkmark"></span>
              </label>
              <div id="visible" [ngStyle]="{'display': display(element.id)}">
                <div *ngIf="element.displayname=='' || element.displayname === undefined; else selectTemplateWithName">

                  <select (change)="updateDataForSelectedInput($event, element)" id="{{element.id}}" [value]='getOptionsValue(element.id)'>
                    <option *ngFor="let option of element.options" value='{{option.shortname}}'>{{option.shortname}}</option>
                  </select>
                </div>
              </div>

              <ng-template #selectTemplateWithName>
                <select (change)="updateDataForSelectedInput($event, element)" id="{{element.id}}" [value]='getOptionsValue(element.id)'>
                  <option selected>Select Option</option>
                  <option *ngFor="let option of element.options" value='{{option[element.displayname]}}'>{{option[element.displayname]}}</option>
                </select>
              </ng-template>
            </div>

          </div>
        </div>
      </div>
    </section>
  </main>
</body>