<h4>{{damageState}}</h4>

<h5>{{selectedComponent?.vehicleComponentFriendlyname}}</h5>

<h5>{{selectedDamage?.damageType}}</h5>

<div [ngSwitch] = 'damageState'>

    <div *ngSwitchCase = 'damageStates.SELECT_COMPONENT'>
        <div (click) = 'onComponentSelect(component)' class = 'element-wrapper' *ngFor = 'let component of componentList'>
            <div class = 'element'>
                {{component.vehicleComponentFriendlyname}}
            </div>
        </div>
    </div>

    <div *ngSwitchCase = 'damageStates.SELECT_DAMAGE'>
        <div (click) = 'onDamageSelect(damage)' class = 'element-wrapper' *ngFor = 'let damage of damageTypesList'>
            <div class = 'element'>
                {{damage.damageType}}
            </div>
        </div>
    </div>

    <div *ngSwitchCase = 'damageStates.SELECT_DEGREE'>
        <div (click) = 'onDegreeSelect(degree)' class = 'element-wrapper' *ngFor = 'let degree of damageDegreeList'>
            <div class = 'element'>
                {{degree.friendlyname}}
            </div>
        </div>
    </div>

</div>
