.tire-row {
    display: flex;
    justify-content: center;
}

.cell {
    border-style: solid;
    border-width: 1px;
    flex: 1;
    text-align: center;
}

.tire-row:hover {
    background-color: yellow;
    cursor: pointer;
}